<nav>
    <div class="nav-wrapper">
      <ul>
        <li><%= link_to 'Dashboard', dashboard_path, class: 'btn' unless action_name == 'dashboard' %>
        <li><%= link_to 'Logout', logout_path, class: 'btn'%>
      </ul>
    </div>
  </nav>
